USE [db_mypage]
GO
/****** Object:  Table [dbo].[t_CONFIG]    Script Date: 2019/4/15 16:44:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_CONFIG](
	[id] [nvarchar](16) NOT NULL,
	[key_code] [nvarchar](50) NOT NULL,
	[value] [nvarchar](500) NOT NULL,
	[description] [nvarchar](500) NULL,
	[created_time] [datetime] NULL,
	[created_by] [nvarchar](50) NULL,
	[updated_time] [datetime] NULL,
	[updated_by] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[t_CONFIG] ([id], [key_code], [value], [description], [created_time], [created_by], [updated_time], [updated_by]) VALUES (N'AIACON0000000001', N'default-aia-ref', N'roundup(round(insurance_coverage/ VPU *rate, -3)  * modal_factor,-3)', N'insurance_coverage:FA,aia-ref default formula', CAST(0x0000A57500B8F168 AS DateTime), N'system', CAST(0x0000A57500B8F168 AS DateTime), N'system')
INSERT [dbo].[t_CONFIG] ([id], [key_code], [value], [description], [created_time], [created_by], [updated_time], [updated_by]) VALUES (N'AIACON0000000002', N'default-aia-ref-rate', N'roundup(round(rate, -3)  * modal_factor,-3)', N'aia-ref formula2', CAST(0x0000A57500B8F17B AS DateTime), N'system', CAST(0x0000A57500B8F17B AS DateTime), N'system')
INSERT [dbo].[t_CONFIG] ([id], [key_code], [value], [description], [created_time], [created_by], [updated_time], [updated_by]) VALUES (N'AIACON0000000003', N'fixed-0', N'0', N'aia-ref formula3', CAST(0x0000A57500B8F17B AS DateTime), N'system', CAST(0x0000A57500B8F17B AS DateTime), N'system')
